<%- include('../../_layouts/adminheader') %>
  <h2 class="category-title">Add Category</h2>
  <a href="/admin/categories">All Categories</a>
  <br><br>

  <form method="post" action="/admin/categories/create">
    <div class="form-group">
      <label for="">Title</label>
      <input class="form-control" type="text" name="title" value="<%= title %>" placeholder="Title">
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>

<%- include('../../_layouts/adminfooter') %>